@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Hide ScrollBar */
body::-webkit-scrollbar {
  width: 0 !important
}

.Nav {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

body {
  background-color: rgb(255, 255, 255);
}

.logo {
  flex: 1;
}

.logo img {
  width: 100px;
  padding-left: 100px;
}


.menu {
  flex: 7;
  display: flex;
  gap: 50px;
  font-size: 1.5em;
  justify-content: flex-end;
  padding: 0 100px;
}


.menu a {
  color: rgb(32, 32, 32);
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a:hover {
  border-bottom: solid 2px rgb(32, 32, 32);
} 

.menu .cart img{
  width: 1.5em;
}

.cart {
  position: relative;
}

.cart:hover {
  cursor: pointer;
}

.counter {
  position: absolute;
  background-color: red;
  color: white;
  padding: 0 5px;
  border-radius: 20px;
  bottom: 0;
  left: 0;
  font-size: 0.7em;
}

.HomeMain {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.left-home, .right-home {
  flex: 1;
}

.left-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-home img {
  width: 150%;
  transform: translate(-5%, 0);
  overflow: hidden;
}

.text h1 {
  font-size: 7em;
  font-weight: 900;
  margin-bottom: -10px;
}

.text h3 {
  margin-bottom: -15px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 200;
}

.auto {
  color: red;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: red;
}

.cta {
  margin-left: 5px;
  padding: 10px 40px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 200;
  border-radius: 5px;
  border-color: red;
  transition: all 0.15s ease;
}

.cta .strelka {
  display: none;
}

.cta:hover >.strelka {
  display: inline-block;
}

.cta:hover {
  background-color: rgba(255, 0, 0, 0.637);
  color: white;
  padding: 10px 50px;
  cursor: pointer;
}

.cta:active {
  background-color: red;
}

.ShopHeader {
  height: 80vh;
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShopHeader .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 30%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,1) 100%);
  z-index: -1;
}

.ShopHeader h1 {
  font-weight: 900;
  font-size: 3em;
  color: rgb(172, 0, 0);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.CarList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-title {
  color: rgb(180, 0, 0);
}

.car-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
}

.car {
  background-color: rgb(243, 243, 243);
  border: solid 1px rgb(168, 168, 168);
  border-radius: 5px;
}

.car:hover {
  background-color: rgb(180, 0, 0);
  border: solid 1px rgb(168, 168, 168);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.781);
  cursor: pointer;
}

.car:active {
  background-color: rgb(161, 48, 48);
}

.car:hover .car-title {
  color: white;
}

.car img {
  width: 100%;
}

.details {
  padding: 15px;
}

.cart-section {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.cart-overlay {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.438);
  transition: all 0.2s ease;
}

.cart-items {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.cart-items span {
  padding: 5px;
  font-size: 1.5em;
}

.cart-items-header {
  color: rgb(180, 0, 0);
  text-align: center; 
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.cart-close:hover {
  color: white;
  background-color: rgb(180, 0, 0);
  cursor: pointer;
}

.CarListSmall {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.car-small {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.car-image-small {
  flex: 1;
}

.car-image-small img {
  width: 100%;
}

.details-small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
}

.total {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.checkout {
  background-color: transparent;
  padding: 0 10px;
  border: solid 2px rgb(180, 0, 0);
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.15s ease;
}

.checkout:hover {
  background-color: rgb(180, 0, 0);
  color: white;
  cursor: pointer;
}

.checkout:active {
  background-color: rgb(153, 67, 67);
}